:root {
  --white: #ffffff;

  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-500: #00875f;
  --green-300: #00b37e;

  --red-500: #f75a68;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;

  background: var(--gray-900);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--gray-300);
  font-size: 1rem;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-500);
}
